body{
    background-color: khaki;
}

#icono-header {
    width: 64px;
    height: 64px;
    color: black;
    
} 
h1 {
    font-family: 'Playfair Display', serif;
    float:left;
    
    font-size:50px;
    padding:10px;
    
}


.container {
    margin: 5px 10px;
}

.div-iz {
    border: 3px solid black;
    border-radius: 56px;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25);
   
}
    .div-iz h3 {
        margin-left: 70px;
        margin-top: 18px;
        font-family: 'Roboto Slab', serif;
        font-size: 48;
    }

    .div-iz p {
        margin-left: 70px;
        font-family: 'Roboto Slab', serif;
        font-size: 24;
    }

#icono-div-iz {
    margin-left: 20px;
    margin-top: 10px;
    width: 46px;
    height: 46px;
    float: left;
}
.div-der {
    
    border: 3px solid black;
    border-radius: 56px;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25);
   
    /* height: 400px; */
}

    .div-der h3 {
        margin-left: 70px;
        margin-top: 18px;
        font-family: 'Roboto Slab', serif;
        font-size: 48;
    }

    .div-der p {
        margin-left: 70px;
        font-family: 'Roboto Slab', serif;
        font-size: 24;
    }

    #icono-div-iz-inf {
        display: flex;
        justify-content: right;
        margin:2%;
    }
.boton{
    width: 175px;
    height: 75px;
    border: 2px solid gray;
    border-radius: 56px;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-right: 25px;

}

.row{
    margin-bottom: 1rem;
}

.div-boton{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
   
}



.boton-texto {
    margin-left: -25%;
    margin-bottom: -30px;
    font-size: 30px;
}

.icon-buttons {
    float: right;
    height: 40px;
}


.p-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-right: 10%;
}
.inputs{
    display: flex;
    flex-direction: column;
}
input{ 
    border-radius:56px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}
.pin{
    align-items: left;
    margin:0 auto;
}
.home-kiss{
    border-color: gray;
    border-style: dashed;
}

#iconos-header{
    display: flex;
    justify-content: flex-end;
}

#menu-sup{
    display: flex;
}

.entrada{
    font-family:'Roboto Slab', serif;
    margin: 10%;
    font-size: 30px;
}

   
      /*Small devices (landscape phones, 576px and up)*/
      @media (max-width: 767px) { 
        p {
            font-size: .75rem;
        }

        input{/*Tamaño de input*/
            width: 13rem;
        }

        .div-iz{
            margin-bottom: 3%;
            margin-left: 2%;
            margin-right: 2%;
        }

        .div-der {
            margin-left: 2%;
            margin-right: 2%;
        }
        /* .boton-texto{
            font-size: .1 rem;
        }  */
        
      }
      #asunto{
          height: 150px;
      }
      
      /*Medium devices (tablets, 768px and up)*/
      @media (min-width: 768px) { 
        p {
            font-size: 1rem;
        }
        input{/*Tamaño de input*/
            width: 20rem;
        }

        .div-iz{
            margin-bottom: 1rem;
            margin-left: 10%;
            margin-right: 10%;
        }

        .div-der{
            margin-left: 10%;
            margin-right: 10%;
        }

        .div-boton{
            margin-left: 10%;
            margin-right: 10%;
        }      
       }
      
      /*Large devices (desktops, 992px and up)*/
      @media (min-width: 992px) { 
        p {
            font-size: 1.2rem;
        }

        .entrada{
            font-size: 1.5rem;
        }
           
        input{
            width: 18rem;
        }

        .div-der{
            margin-left: 0rem;
            margin-right: 0rem;
        }

        .div-boton{
            margin-left: 0;
            margin-right: 0;
        }   
        
       }
      
      /* Extra large devices (large desktops, 1200px and up)*/
      @media (min-width: 1200px) { 
        p {
            font-size: 1.3rem;
        }

        .entrada{ /*letra input*/
            font-size: 1.5rem;
        }

        input{/*Tamaño de input*/
            width: 22rem;
        }
        
       }

      

  

  