:root {
    --margen:2%;
}
#contenedor {
    margin-left: var(--margen);
    margin-right: var(--margen);
    margin-bottom: var(--margen);
}
/* HEADER */
#main-header {
    /*background: #010101;*/
    /* color: white; */
    height: 70px;
    margin: var(--margen);
    justify-content: center;
    padding: 5px;
} 	
    /* #main-header a {
        color: white;
    } */
#icono-header {
    width: 64px;
    height: 64px;
    color: black;
    float:left;
    margin-left: var(--margen);
    
}
h1 {
    font-family: 'Playfair Display', serif;
    float:left;
    font-size:50px;
    padding:10px;
    
}

nav {
        float: right;
        margin-left: var(--margen);
        padding: 5px;
        padding-right: 0%;
}       
        nav ul li {
                display: inline-block;
                line-height:70px;
                margin-right: 0%;
        } 
             
#icono-header-der {
    width: 50px;
    height: 50px;
    color: black;
    float: right;
    margin-right: -40%;
}

.container {
    margin: 5px 10px;
}

.div-iz {
    border: 3px solid black;
    border-radius: 56px;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-right: 70px;
}
    .div-iz h3 {
        margin-left: 70px;
        margin-top: 18px;
        font-family: 'Roboto Slab', serif;
        font-size: 48;
    }

    .div-iz p {
        margin-left: 70px;
        font-family: 'Roboto Slab', serif;
        font-size: 24;
    }

#icono-div-iz {
    margin-left: 20px;
    margin-top: 10px;
    width: 46px;
    height: 46px;
    float: left;
}
.div-der {
    border: 3px solid black;
    border-radius: 56px;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-right: 70px;
}

    .div-der h3 {
        margin-left: 70px;
        margin-top: 18px;
        font-family: 'Roboto Slab', serif;
        font-size: 48;
    }

    .div-der p {
        margin-left: 70px;
        font-family: 'Roboto Slab', serif;
        font-size: 24;
    }

    #icono-div-iz-inf {
        display: flex;
        justify-content: right;
        margin:var(--margen)
    }

.botones {
    width: 500px;
    height: 100px;
    display: flex;
    margin: 50px;
}

.botones-container button {
    width: 175px;
    height: 75px;
    border: 3px solid gray;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    float: right;
 } 
.boton-derecho {
    margin: var(--margen);
    margin-right: 0%;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25);
} 
.boton-izquierdo {
    margin:var(--margen)
}

 .kiss-inf {
     margin:1.25%;
     font-size: 60px;
 }

.boton-texto {
    margin-left: -25%;
    margin-bottom: -30px;
    font-size: 30px;
}

.icon-buttons {
    float: right;
    height: 40px;
}

/*cambios para index*/
#main-header-index {
    display: flex;
    justify-content: center;
}

.div-iz-index {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
}
.kiss-index {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    /*margin: var(--margen);
    font-size:50px;
    padding:10px; */
}

.div-der p {
    margin-top: 10px;
    margin-right: 4%;
}

/* cambios para kisses */
.div-iz-inf-iz {
    float: left;
    margin-left: var(--margen);
    align-items: center;
    display:flex;
    justify-content: left;
}

.div-iz-inf-iz p {
    margin-left: var(--margen);
}

/* .div-iz-car {
    border: none;
} */

.div-iz-carrusel {
    border: 3px solid black;
    /* border:none */
    border-radius: 56px;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: var(--margen);
    margin-right: (var(--margen))/2;
}

.texto-carrusel {
    font-family: 'Roboto Slab', serif;
    font-size: 24;   
    float:left;
    margin-top: 8px;
}

/* SUSCRIPCIÓN */
.botones-container-return button {
    width: 175px;
    height: 75px;
    border: 3px solid gray;
    border-radius: 56px;
    float: right;
    margin-bottom: -10px;
    margin-top: -13px;
 } 
#formulario {
    display: flex;
    justify-content: space-between;
}
.form-iz {
    display: inline-block;
    justify-content: left;
}
.form-der {
    display: inline-block;
    justify-content: right;
    margin-right: var(--margen);
}
.suscripcion-formato-input {
    border: 3px solid black;
    border-radius: 56px;
    width: 350px;
    height: 75px;
    margin: var(--margen);
}

        /* pag 2 */

.suscripcion-formato-input-pag-2 {
    border: 3px solid black;
    border-radius: 56px;
    margin: var(--margen);
}

.boton-derecho-suscripcion {
    margin: var(--margen);
    margin-right: 0%;
} 

.botones-container-suscripcion {
    display: flex;
    justify-content: space-between;
}
.botones-container-suscripcion button {
    height: 50px;
    border: none;
    float: right;
}

.texto-inf {
    font-family: 'Roboto Slab', serif;
    font-size: 24;   
    float:left;
    margin-top: 8px;
}

        /* confirmación */
.suscripcion-formato-input-pag-confirm {
    border: 3px solid black;
    border-radius: 56px;
    width: 200px;
    height: 75px;
}

.p-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-right: 10%;
}
/* .div-iz-inf-iz-suscripcion {
    float: left;
    margin-left: var(--margen);
    align-items: center;
    display:flex;
    justify-content: left;
} */

#btn-next-kiss{
    background-color: transparent;  
    border-color: transparent;
}
#next-kiss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}